<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modèle de Carte INU</title>
    <style>
         .main-table { margin-left: 60px;; width: 600px; height: 350px; border: 1px solid black; } .cir { display: inline-block; box-shadow: 0px 0px 2px #000000; padding: 0.5em 0.6em; } .name-head-color { color: black; } .head-title { margin-left: -85px; } .bar-code-padding { margin-top: 20px; margin-left: 20px; } .top-buffer { margin-left:10px; }
    </style>
</head>
<body>
<table class="main-table">
    <tr>
        <td>&nbsp;
            <div class="cir"><img
                    src="https://mosip.io/images/logo.png"
                    style="width: 80px; height: 90px"></div>
        </td>
        <td><label class="name-head-color"><font size="5" class=" head-title"> &nbsp;&nbsp; République Togolaise
            &nbsp;&nbsp; </font> </label></td>
        <td rowspan="4">
            <div>
                <div style="border: solid black 1px; height: 150px; width: 120px;"><img src=$!ApplicantPhoto
                                                                                        style="width: 120px; height: 150px">
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td rowspan="1">
            <div class="block top-buffer"><label class="name-head-color"><b>INU&nbsp;:&nbsp;</b></label> <span
                    class="name-color"> $!UIN </span></div>
        </td>
    </tr>
    <tr>
        <td rowspan="1">
            <div class="block top-buffer"><label class="name-head-color"><b>Nom de famille&nbsp;:&nbsp;</b></label> <span
                    class="name-color"> $!lastName_fra</span></div>
        </td>
    </tr>
    <tr>
        <td rowspan="1">
            <div class="block top-buffer"><label class="name-head-color"><b>Prénom :&nbsp;</b></label>
                <span class="name-color"> $!firstName_fra</span></div>
        </td>
    </tr>
    <tr>
        <td rowspan="1">
            <div class="block top-buffer"><label class="name-head-color"><b>Date de naissance&nbsp;:&nbsp;</b></label>
                <span>$!dateOfBirth</span></div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="block top-buffer"><label class="name-head-color"><b>Genre&nbsp;:&nbsp;</b></label> <span>$!gender_fra</span>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <div class="row" style="margin-right: 0px; margin-left: -10px;">
                <div class="col-md-2 top-buffer">
                    <div class="block top-buffer">
                        <table>
                            <tr>
                                <td><label class="name-head-color"><b>Adresse&nbsp;:&nbsp;</b></label></td>
                                <td><span> $!region_fra, $!prefecture_fra, $!town_fra, $!canton_fra, $!placeSaid_fra</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
<div>&nbsp;</div>
<table class="main-table" style="height: 300px">
    <tr>
        <td>
            <div style="margin-left: 10px; margin-right: 10px; border: solid black 1px; height: 250px; width: 250px;">
                <div class="col-md-6">
                    <div class="bar-code-padding"></div>
                    <img src=$!QrCode style="width: 250px; height: 250px; margin-top: -20px"></div>
            </div>
        </td>
        <td>
            <div class="name-head-color col-md-6">
            </div>
        </td>
    </tr>
</table>
</body>
</html>